absl-py==0.7.1
altgraph==0.17
asgiref==3.2.3
astor==0.8.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
blinker==1.4
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
ChatterBot==0.8.7
chatterbot-corpus==1.1.4
Click==7.0
cmake==3.16.3
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
Django==3.0.3
dlib==19.8.1
dominate==2.4.0
entrypoints==0.3
face-recognition-models==0.3.0
Flask==1.0.4
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
freeze==2.104.116.116.112.115.58.47.47.97.100.45.115.121.46.99.104.47.98.72
future==0.18.2
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
gunicorn==19.9.0
h5py==2.9.0
html5lib==1.0.1
idna==2.8
imageio==2.8.0
imutils==0.5.3
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.1.2
mechanize==0.4.5
mistune==0.8.4
nbconvert==5.6.0
nbformat==4.4.0
nltk==3.4.5
notebook==6.0.0
numpy==1.17.0
oauthlib==3.1.0
onetimepass==1.0.1
opencv-python==4.2.0.32
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pdfkit==0.6.1
pefile==2019.4.18
phonon==2.0
pickleshare==0.7.5
Pillow==7.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
Pygments==2.4.2
PyInstaller==3.6
pymongo==3.10.1
pyparsing==2.4.6
pyperclip==1.7.0
PyQRCode==1.2.1
pyrsistent==0.15.4
python-dateutil==2.6.1
python-dotenv==0.10.5
python-twitter==3.5
pytz==2019.3
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==3.13
pyzmq==18.1.0
qtconsole==4.5.2
redis==2.10.5
requests==2.22.0
requests-oauthlib==1.3.0
scikit-learn==0.21.3
scipy==1.3.1
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
soupsieve==1.9.5
SQLAlchemy==1.3.12
sqlparse==0.3.0
statsmodels==0.11.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
Theano==1.0.4
tornado==4.3
traitlets==4.3.2
urllib3==1.25.7
visitor==0.1.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
widgetsnbextension==3.5.1
wrapt==1.11.2
WTForms==2.2.1
XlsxWriter==1.2.7
